<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body class="auth-body">

<div class="auth-box">
    <h2>Welcome Back, Wizard ✨</h2>
    
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Login</button>

        <p>Don’t have an account?  
            <a href="/signup">Create one</a>
        </p>
    </form>
</div>

</body>
</html>
